.greenColor{
    color: green;
}
.blackColor{
    color: black;
}
.red{
    font-size: 25px;
    color: red;
}
.button{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}
.button:hover{
    background-color: #3e8e41;
    color: white;
    cursor: pointer;
}

.alt{
    cursor: pointer; 
}
.wonGame{
    color: green;
    font-size: 25px;
}
 
ol {
    max-width: 350px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
  }
  ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
  }
  ol li::before {
    content: counter(my-awesome-counter);
    color: #fcd000;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }
  
  body {
    background: #191919;
    color: #eee;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    font-size: 90%;
    margin: 2rem;
     margin: auto;
  margin-top: 5%;
   width: 35%;
  border: 3px dashed white;
  padding: 10px;  
  text-align: left;

  }
  .size{
    font-size: 25px;
    color: rgb(115, 236, 15); 
  }